header.wrapper
    .header
        .main
            a(class="logo" href="/") SH
            ul.nav
                li
                    a(href="index.html") Woman
                li
                    a(href="index1.html") Men
                li
                    a(href="#") Kids
                li
                    a(href="#") Comming Soon
                li
                    a(href="#") About
        .secondary
            a(class="login" href="#") Log In
            .basket
                a(href="#") Basket&nbsp;
                span (0)
            a(class="search" href="#")