header.wrapper
    .header.category
        .main
            a(class="logo" href="/") SH
            ul.nav
                li
                    a(href="#") Woman
                li
                    a(href="#") Men
                li
                    a(href="#") Kids
                li
                    a(href="#") Comming Soon
                li
                    a(href="#") About
        .secondary
            a(class="login" href="#") Hi, Michal&nbsp;
                span (logout)
            .basket
                a(href="#") Basket&nbsp;
                span (0)
            .block-search
                input(type="text" placeholder="Search something...")
                a(class="search" href="#")